<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3sar5gL9TW1dDyi3qYxQGv5Mw0HoLEwE</string>
	<key>GCM_SENDER_ID</key>
	<string>154394623209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.furkanvural.New-Hall-Cati</string>
	<key>PROJECT_ID</key>
	<string>new-hall-cati</string>
	<key>STORAGE_BUCKET</key>
	<string>new-hall-cati.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154394623209:ios:b287669f1d1af41a0c0478</string>
</dict>
</plist>